{% extends 'layout.html' %}

{% block content %}
<article>
    <div>
        <h2 class="cool-title">Que es el chaqueo?</h2>
        <p class="cool-line">
            El chaqueo es una práctica agrícola que consiste en la <strong>quema de vegetación</strong>, como árboles,
            arbustos, plantas y
            hojarasca, para preparar el terreno para la siembra. Esta practica se practicaba desde la antiguedad. Se
            cree
            que los mayas practicaban el <strong>chaqueo</strong>.
        </p>
    </div>
    <br>
    <div>
        <h2 class="cool-title">Causas del chaqueo</h2>
        <p class="cool-line">
            El chaqueo es una tecnica que su uso se extiende desde los mayas el chaaqueo normalmente se usa para
            despejar
            terreneos de vegetacion, para luego exibir el terreno despejado o como mayormente se usa para plantaciones.
        </p>
    </div>
    <br>
    <h2 class="cool-title">Beneficios?</h2>
    <p>
        Aun que parezaca que el chaqueo solo hace daños, tiene sus beneficios, los cuales on los siguientes:
    </p>
    <ul>
        <li>
            <h3 class="cool-title">Sus cenizas</h3>
        </li>
        <div class="cool-line">
            <p>
                Sabias que las cenizas son una fuente natural de nutrientes para la tierra. Contienen magnesio,
                fósforo,
                calcio y otros nutrientes que son beneficiosos para el crecimiento de las plantas.
            </p>
        </div>
        <div class="cool-line">
            <p>
                Las cenizas también
                pueden ser utilizadas para combatir plagas y enfermedades en el huerto y jardín ecológico.
                Espolvorear
                ceniza alrededor del tallo de las plantas dibujando un círculo y otra línea más ancha
                delimitando el
                paso a los cultivos que impedirá el acceso a caracoles, babosas y gusanos. En cuanto a
                enfermedades,
                las
                cenizas son un remedio natural muy útil para las causadas por hongos. Para usar las cenizas con
                este
                fin, únicamente debemos espolvorear las cenizas sobre las hojas, tallos, flores, etc. afectadas
                por
                los
                hongos.
            </p>
        </div>
        <li>
            <h3 class="cool-title">Ahorra gastos</h3>
        </li>
        <div class="cool-line">
            <p>
                El costo de despejar y limpiar un acre de tierra agrícola, donde se necesita
                eliminar una densa vegetación y sistemas de raíces, <strong>oscila entre 4,000 y 6,500 dólares por
                    acre</strong> (0,00404686 km2).
            </p>
            <div class="d-flex">
                <small>
                    FarmingThing.com
                    <a target="_blank" href="https://FarmingThing.com">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                    </a>
                </small>
            </div>
        </div>
        <br>
        <div class="cool-line">
            <p>
                Se estima que el costo básico para despejar un terreno es de
                <strong>
                    0.67 (4,59 Bs) a 1.12 (7,67 Bs)
                    dólares
                    por
                    pie (0,3048m)
                </strong>
                cuadrado en junio de 20232.
            <div class="d-flex">
                <small>
                    Homewyse
                    <a target="_blank" href="https://homewyse.com">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                    </a>
                </small>
            </div>
            </p>
        </div>
        <p>El despejar terreneos con vegetacion cuesta mucho para algunos, por lo cual sale mucho mas rentable
            <strong>chaquear</strong> la
            zona para luego cultivar, construir,
        </p>
    </ul>
    </div>
    <br>
    <div>
        <h2 class="cool-title">¿Cuáles son las consecuencias del chaqueo?</h2>
        <div>
            <div class="cool-line">
                <p>Pese a sus efectos contaminantes, esta práctica está vigente en el país y es una de las principales
                    causantes
                    de
                    incendios forestales, la quema de pastizales, contamina el medio ambiente y hace que el país esté
                    entre
                    los
                    principales del mundo en la producción de CO2 per cápita.
                    Chaqueos destruyeron 35 millones de hectáreas de bosques en 15 años.
                </p>
            </div>
            <div class="cool-line">
                <p>
                    Entre el año 2000 y el 2015 en Bolivia se quemaron más de 35 millones de hectáreas de bosque. Según
                    distintos
                    documentos y opinión experta, gran parte de esos focos de calor se debe al chaqueo para actividades
                    agropecuarias.
                    En la actualidad existen al menos cuatro alternativas –manejo sostenible de pastizales, uso de
                    leguminosas,
                    sistemas
                    agroforestales y producción integrada de la propiedad rural– en vez del uso del fuego para mejorar
                    las
                    condiciones
                    de los suelos.
                </p>
                <div class="d-flex">
                    <small>
                        cipca.org.bo
                        <a target="_blank" href="https://cipca.org.bo/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg>
                        </a>
                    </small>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div>
        <h2 class="cool-title">Daños a las comunidades por el chaqueo</h2>
        <div class="cool-line">
            <p>
                Los daños del chaqueo pueden pasar a ser más de una molestia por la suciedad y residuos que deja como la
                ceniza,
                humo entre otros puede ser perjudicial para la salud dañando tus pulmones o de los menores del hogar;
                Las altas concentraciones de humo pueden desencadenar una serie de síntomas. Cualquiera puede
                experimentar
                ardor
                en
                los ojos, goteo nasal, tos, flema, sibilancia y dificultad para respirar. Si padece enfermedad cardíaca
                o
                pulmonar,
                el humo puede empeorar los síntomas.
                Posibles micro incendios, daños a platas,
                arboles, cultivos, etc.
            </p>
        </div>
    </div>
    <br>
    <div>
        <h2 class="cool-title">Daños al medio ambiente</h2>
        <div>
            <div class="cool-line">
                <p>
                    Más de <strong>350 mil hectáreas por año</strong> son devastadas en Bolivia como resultado de los
                    chaqueos
                    entre
                    los
                    meses de junio y
                    octubre, provocando <strong>“una degradación violenta de la vida”</strong>, según datos revelados
                    por el
                    coordinador
                    de la Unidad
                </p>
            </div>
            <div class="cool-line">
                <p>
                    El chaqueo es uno de los determinantes para que <strong>Cochabamba sea hoy la ciudad más contaminada
                        del
                        país</strong>, según el
                    informe del Ministerio de Medio Ambiente y Aguas.
                </p>
            </div>
            <div class="cool-line">
                <p>
                    El 92% o de los más de 27 mil focos de calor son registrados en los meses de agosto, septiembre y
                    octubre,
                    según datos del ex Ministerio de Asuntos Campesinos y Agropecuarios.
                </p>
            </div>
        </div>
    </div>
    <br>
    <div>
        <h2 class="cool-title">Mapa interactivo</h2>
        <div class="cool-line">
            <p>Aqui un link a un mapa interactivo de Bolivia sobre los incendios e tiempo real:</p>
            <div class="d-flex">
                <small>
                    incendios.fan-bo.org
                    <a target="_blank" href="https://incendios.fan-bo.org/Satrifo/mapa-interactivo/#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                    </a>
                </small>
            </div>
        </div>
    </div>
    <br>
    <div>
        <h2 class="cool-title">Deja tus comentarios!</h2>
        <form action="/" method="post">
            <div class="mb-3 cool-line">
                <label for="name-text">Nombre</label>
                <input class="form-control cool-input" type="text" name="name" id="name-text" required
                    style="border: 2px solid rgba(0, 136, 255, 0.297)">
            </div>
            <div class="mb-3 cool-line">
                <label for="comment-text">Tu comentario</label>
                <textarea class="form-control cool-input" type="" name="comment" id="comment-text" required
                    style="border: 2px solid rgba(0, 136, 255, 0.297)"></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn" style="background-color: rgb(0, 136, 255);" type="submit">Subir tu
                    comentario!</button>
            </div>
        </form>
    </div>
    <br>
    {% for comment in comments %}
    <div class="card cool-card" style="border: solid 2px rgb(0, 136, 255);">
        <div class="card-title d-flex justify-content-between">
            <p><strong>{{ comment.name }}</strong></p>
            <small>{{ comment.id }}</small>
        </div>
        <div>
            <p class="cool-line">{{ comment.comment }}</p>
        </div>
    </div>
    {% endfor %}
</article>
{% endblock %}