{% extends 'layout.html' %}

{% block content %}
<article>
    <div>
        <h2 class="cool-title">Causas del chaqueo</h2>
        <p class="cool-line">
            El chaqueo es una tecnica, que su uso se extiende desde los mayas el chaqueo normalmente se usa para
            despejar
            terreneos de vegetacion, para luego exibir el terreno despejado o como mayormente se usa para plantaciones o
            ganaderia.
        </p>
        <div>
            <h3>Expansion agricola y ganadera</h3>
            <p>
                La presión sobre los bosques por la expansión agrícola y ganadera, que genera la necesidad de limpiar el
                terreno para la siembra o la cría de animales. Esta es una de las principales causas de la deforestación
                y
                la pérdida de biodiversidad en el país.
            </p>
        </div>
        <div>
            <h3>Normativa actual</h3>
            <p>
                La normativa actual, que permite el uso del fuego como herramienta para el manejo del suelo, siempre y
                cuando se cumplan ciertas condiciones y se soliciten las autorizaciones correspondientes. Sin embargo,
                muchos productores no cumplen con estas normas y realizan quemas sin control ni supervisión4.
                El uso de la vegetación local como combustible, especialmente la hoja de coca, que es un cultivo muy
                demandado y rentable, pero que también implica una mayor extracción de recursos naturales y una mayor
                emisión de gases de efecto invernadero.
            </p>
        </div>
        <div>
            <h3>Condiciones climaticas</h3>
            <p>
                Las condiciones climáticas adversas, como la sequía, el calor y el viento, que favorecen la propagación de
                los incendios y dificultan su extinción. Estas condiciones están relacionadas con el cambio climático
                global, que afecta especialmente a los países más vulnerables como Bolivia.</p>
        </div>
        <div>
            <h3>Falta de educación ambiental</h3>
            <p>En Bolivia hay falta de conciencia sobre las consecuencias de las quemas o chaqueos.</p>
        </div>
    </div>
</article>
{% endblock  %}