{% extends 'layout.html' %}

{% block content %}
<article>
    <div>
        <h2 class="cool-title">¿Cuáles son las consecuencias del chaqueo?</h2>
        <div>
            <div class="cool-line">
                <p>Pese a sus efectos contaminantes, esta práctica está vigente en el país y es una de las principales
                    causantes
                    de
                    incendios forestales, la quema de pastizales, contamina el medio ambiente y hace que el país esté
                    entre
                    los
                    principales del mundo en la producción de CO2 per cápita.
                    Chaqueos destruyeron 35 millones de hectáreas de bosques en 15 años.
                </p>
            </div>
            <br>
            <img src="../static/indice-aire-contaminado.jpg" width="1000">
            <div>
                <br>
                <p>
                    Entre el año 2000 y el 2015 en Bolivia se quemaron más de 35 millones de hectáreas de bosque. Según
                    distintos
                    documentos y opinión experta, gran parte de esos focos de calor se debe al chaqueo para actividades
                    agropecuarias.
                    En la actualidad existen al menos cuatro alternativas –manejo sostenible de pastizales, uso de
                    leguminosas,
                    sistemas
                    agroforestales y producción integrada de la propiedad rural– en vez del uso del fuego para mejorar
                    las
                    condiciones
                    de los suelos.
                </p>
                <div class="d-flex">
                    <small>
                        cipca.org.bo
                        <a target="_blank" href="https://cipca.org.bo/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg>
                        </a>
                    </small>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div>
        <h2 class="cool-title">Daños a las comunidades por el chaqueo</h2>
        <div class="cool-line">
            <p>
                Los daños del chaqueo pueden pasar a ser más de una molestia por la suciedad y residuos que deja como la
                ceniza,
                humo entre otros puede ser perjudicial para la salud dañando tus pulmones o de los menores del hogar;
                Las altas concentraciones de humo pueden desencadenar una serie de síntomas. Cualquiera puede
                experimentar
                ardor
                en
                los ojos, goteo nasal, tos, flema, sibilancia y dificultad para respirar. Si padece enfermedad cardíaca
                o
                pulmonar,
                el humo puede empeorar los síntomas.
                Posibles micro incendios, daños a platas,
                arboles, cultivos, etc.
            </p>
        </div>
        <br>
        <img src="../static/alerta-de-incedios-bo-scz.jpg" width="1000">
    </div>
    <br>
    <div>
        <h2 class="cool-title">Daños al medio ambiente</h2>
        <div>
            <div class="cool-line">
                <p>
                    Más de <strong>350 mil hectáreas por año</strong> son devastadas en Bolivia como resultado de los
                    chaqueos
                    entre
                    los
                    meses de junio y
                    octubre, provocando <strong>“una degradación violenta de la vida”</strong>, según datos revelados
                    por el
                    coordinador
                    de la Unidad
                </p>
            </div>
            <div class="cool-line">
                <p>
                    El chaqueo es uno de los determinantes para que <strong>Cochabamba sea hoy la ciudad más contaminada
                        del
                        país</strong>, según el
                    informe del Ministerio de Medio Ambiente y Aguas.
                </p>
            </div>
            <div class="cool-line">
                <p>
                    El 92% o de los más de 27 mil focos de calor son registrados en los meses de agosto, septiembre y
                    octubre,
                    según datos del ex Ministerio de Asuntos Campesinos y Agropecuarios.
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock  %}
