{% extends 'layout.html' %}

{% block content %}
<article>
    <div class="d-flex justify-content-evenly flex-wrap">
        <div class="box-width">
            <div class="d-flex justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="136" height="136" fill="red" class="bi bi-fire"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
                </svg>
            </div>
            <div class="d-flex justify-content-center info-box-txt">
                <p>182000 hectáreas afectadas por incendios en Bolivia.</p>
            </div>
        </div>
        <div class="box-width">
            <div class="d-flex justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" height="136" viewBox="0 -960 960 960" width="136"
                    fill="red">
                    <path
                        d="M200-120q-51 0-85.5-34.5T80-240v-167l105-281q12-33 42-52.5t65-19.5q45 0 76.5 32.5T400-649v49h-80v-49q0-13-9-22t-21-9q-10 0-18.5 5.5T260-660L160-392v152q0 17 11.5 28.5T200-200h120q17 0 28.5-11.5T360-240v-80h80v80q0 51-35 85.5T320-120H200Zm559 0H639q-50 0-85-34.5T519-240v-80h80v80q0 17 11.5 28.5T639-200h120q17 0 28.5-11.5T799-240v-152L699-660q-4-9-12-14.5t-18-5.5q-13 0-21.5 9t-8.5 22v49h-80v-49q0-46 31.5-78.5T667-760q35 0 64.5 19.5T774-688l105 281v167q0 51-35 85.5T759-120ZM320-456Zm319 0Zm-159-47L376-400l-56-56 120-120v-304h80v304l120 120-57 56-103-103Z" />
                </svg>
            </div>
            <div class="d-flex justify-content-center info-box-txt">
                <p>Por 3 dias en Santa Cruz Bolivia hubo una <strong>contaminacion del 392%</strong> en el aire.</p>
            </div>
        </div>
        <div class="box-width">
            <div class="d-flex justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="136" height="136" fill="red" class="bi bi-fire"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
                </svg>
            </div>
            <div class="d-flex justify-content-center info-box-txt">
                <p>3091 focos de calor en Bolivia.</p>
            </div>
        </div>
    </div>
    <br>
    <div>
        <p>Gran parte de estos daños son causados por la quema (tambien conocido como chaqueo) sin control en todo el pais mayormente en el departamento de Santa Cruz.</p>
        <br>
        <p>En esta pagina web usted podra ver diferentes temas sobre el chaqueo.</p>
        <p>El objetivo de esta pagina es hacer conciencia sobre la quema y los daños que causa.</p>
    </div>
</article>
{% endblock %}