<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bolivia en llamas">
    <link rel="icon" href="">
    <title>Bolivia en llamas</title>

    <!--CSS-->
    <link rel="stylesheet" href="../static/css/head.css">
    <link rel="stylesheet" href="../static/css/estilos-generales.css">
    <link rel="stylesheet" href="../static/css/comments.css">
    <!--End CSS-->

    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!--End Boostrap-->

    <!--#################################-->
    <!--##### All code by: SiK1512 ######-->
    <!--#################################-->

</head>

<body data-bs-theme="light">
    <header class="nav-skin">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/que-es">Que es?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/causas">Causas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/beneficios">Beneficios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/danos">Daños</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fuentes">Fuentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/comentarios">Comentarios!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <main>
        <div class="d-flex justify-content-center" id="bg-head">
            <h1 class="title">Proyecto: Bolivia en llamas</h1>
            <div class="semi-black-bg"></div>
        </div>

        {% block content %}

        {% endblock %}

    </main>
    <hr>
    <footer>
        <small>
            <strong>Creado por:</strong> <a target="_blank" href="https://github.com/SiKCube">Ignacio Ponce de Leon</a>
            y Elvio Pena
        </small>
        <br>
        <small><strong>Pagina web por:</strong> <a target="_blank" href="https://github.com/SiKCube">Ignacio Ponce de
                Leon</a></small>
    </footer>
    <hr>
</body>

</html>