{% extends 'layout.html' %}

{% block content %}
<article>
    <div>
        <h2 class="cool-title">Que es el chaqueo?</h2>
        <p class="cool-line">
            El cahqueo es una práctica agrícola que consiste en la <strong>quema de la vegetación</strong> para limpiar el terreno y
            prepararlo para la siembra o la ganadería. Es una técnica muy utilizada en las regiones bajas de Bolivia,
            como Santa Cruz, Beni y La Paz, especialmente en los meses invernales, cuando la vegetación está seca y
            facilita la combustión; Para mas informacion sobre los beneficios haga <a href="/beneficios">click aqui</a>. Sin embargo, el cahqueo también tiene consecuencias negativas para el medio
            ambiente, como la pérdida de biodiversidad, la erosión del suelo, la contaminación del aire y el aumento de
            las emisiones de gases de efecto invernadero. Además, el cahqueo puede provocar incendios forestales
            descontrolados que afectan a los bosques nativos, como el bosque chaqueño, que es uno de los más grandes y
            diversos de América del Sur. Por estas razones, el cahqueo es una práctica polémica que genera debate entre
            los sectores productivos y los ambientalistas; Para mas informacion sobre los danos haga <a href="/danos">click aqui</a>. 
        </p>
    </div>
</article>
{% endblock  %}